body {
  display: block;
}

ul {
  list-style: none;
}
h1,
h2,
h4,
p,
#about,
li {
}
.endis {
  margin: 5px;
  padding: 0;
  border: 1px solid black;
  border-bottom: 5px solid black;
  width: 180px;
  float: left;
  position: relative;
}
.endislink {
  cursor: pointer;
  display: block;
}
.resim {
  background-image: url("https://raw.githubusercontent.com/ayildirim/bio/master/images/gapz.jpg");
  width: 180px;
  height: 175px;
  background-size: 180px 175px;
}
.caption {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  float: left;
  width: 180px;
  background-color: gray;
  color: white;
  opacity: 0.8;
  border-top: 1px solid black;
  font-size: 16px;
  a:hover {
    background-color: white;
    color: black;
  }
  a img {
    width: auto;
    height: 35px;
    float: right;
  }
  div {
    padding: 5px;
  }
}
.subtext {
  font-size: 12px;
}
.littlebox {
  border: 1px solid black;
  border-bottom: 5px solid black;
}
.littleboxic {
  padding: 3px;
}
