td,
th {
  padding: 0;
  margin: 0;
}
.bubble {
  $border: 4px;
  $radius: $border * 2.5;
  $arrowWhiteCoverDistance: 25px;
  $arrowTopDistance: 25px;

  $borderColor: #7f7f7f;
  $backgroundColor: #ffffff;

  position: relative;
  padding: 0px;
  background: $backgroundColor;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  border: $borderColor solid $border;

  // Calculated Values
  $borderOffset: $border * 0.75;
  $arrowDistance: $arrowWhiteCoverDistance + $borderOffset + $border;

  &:before,
  &:after {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
  }
  &:before {
    right: -$arrowDistance;
    z-index: 0;
    border-color: transparent $borderColor;
    top: $arrowTopDistance;
  }
  &:after {
    top: $arrowTopDistance + $borderOffset;
    z-index: 1;
    border-color: transparent $backgroundColor;
  }
  &:nth-child(even) {
    &:after {
      left: -$arrowWhiteCoverDistance;
      border-width: $arrowWhiteCoverDistance - $borderOffset
        $arrowWhiteCoverDistance $arrowWhiteCoverDistance - $borderOffset 0;
    }
    &:before {
      left: -$arrowDistance;
      border-width: $arrowWhiteCoverDistance $arrowDistance - $border
        $arrowWhiteCoverDistance 0;
    }
  }
  &:nth-child(odd) {
    &:before {
      right: -$arrowDistance;
      border-width: $arrowWhiteCoverDistance 0 $arrowWhiteCoverDistance
        $arrowDistance - $border;
    }
    &:after {
      right: -$arrowWhiteCoverDistance;
      border-width: $arrowWhiteCoverDistance - $borderOffset 0
        $arrowWhiteCoverDistance - $borderOffset $arrowWhiteCoverDistance;
    }
  }
}
